form.login-form-box {
    padding-top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}

body {
    background: #FFF;
    font-family: proxima-nova,Lato,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    width: 100%;
}

label.form-title {
    font-size: 32px;
    text-align: center;
    font-weight: 100;
    color: #000;
    font-family: Roboto, sans-serif;
}

input.login-input {
    font-size: 24px;
    font-weight: 300;
    height: auto;
    margin-bottom: 15px;
    padding: 15px;
    line-height: 25px;
    border: 1px solid #DDD;
    border-radius: 0;
    width: 90%;
}

input[type="submit"] {
    padding: 10px 40px;
    font-size: 14px;
    background: #1abc9c;
    -webkit-appearance: button;
    color: #FFF;
    letter-spacing: 1px;
    border: 0;
    text-decoration: none;
    font-weight: 400;
}

label.form-footer {
  font-size: 14px;
  width: 98%;
  margin: 0 auto;
  margin-top: 5px;
  color: #666;
  text-align: center;
}


.login-form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 300px;
}


header.home-header {
    display: flex;
    flex-direction: row;
    height: 50px;
}

.home-header h2 {

    text-align: center;
    margin-right: 20px;
}

h2.splash-link a {
    color: white;
    background: blue;
    font-size: 20px;
}

h2.splash-link {
    background: blue;
    width: 60px;
}
