body {
  width: 100%;
  height: 100%;
  font-family: proxima-nova,Lato,"Lucida Sans Unicode","Lucida Grande",sans-serif;
}

.gallery-home {
  width: 100%;
  height: 100vh;

}

section.gallery-cover {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat:   no-repeat;
  background-position: center center;
}


section.gallery-content {
    min-height: 700px;
    width: 100%;
}

.photo-gallery {
  width: 90%;
  margin: auto;
}

.mason-photo {margin: 0px 10px;/* width: 25%; */display: block;margin: auto;margin-right: 10px;}


header.gallery-header {
    padding: 20px 40px;
}


ul.photo-gallery-masonry {
    align-content: center;
    width: 100%;
    margin: auto;
}

.photo-link {
    width: 100%;
    height: 100%;

}

.mason-photo a {
    width: 100%;
    height: 100%;
}


header.gallery-header {
    font-family: proxima-nova,Lato,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    display: flex;
}

.gallery-header ul {
    display: flex;
    margin-top: 5px;
}


.gallery-header h2 {
    font-size: 20px;
    font-weight: 600;
    margin-right: 30px;
}

.gallery-header ul li {
    /* margin-right: 30px; */
}


li.set-selected {
    color: black;
}

.gallery-header a {
    text-decoration: none;
    color: darkgrey;
    margin-right: 30px;
}

.gallery-header a:hover {
    color: black;
}


button.close-modal {
    /* height: 100%; */
    /* width: 100%; */
    /* background: none; */
    /* border: none; */
    display: block;
    margin: auto;
    border: none;
    font-size: 17px;
    color: white;
    padding: 8px 27px;
    position: absolute;
    top: 290px;
    left: 220px;
}


.gallery-title {
    width: 100%;
    text-align: center;
    color: #fff;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    /* -webkit-transform: translateY(-50%); */
    transform: translateY(-50%);

}


section.title {
    border: 6px solid white;
    display: inline-block;
    padding: 40px 70px;
    max-width: 60%;
}

.title h1 {
    font-family: "proxima-nova","Lato","Lucida Sans Unicode","Lucida Grande",sans-serif;
    letter-spacing: 2px;
    line-height: 1.125em;
    text-align: center;
    font-size: 60px;
    font-size: 3vw;
    display: inline-block;
    word-wrap: break-word;
    font-weight: 600;
    margin: 20px 30px;
}


.gallery-scroll a {
    transition: all 200ms ease-out;
    color: #FFF;
    letter-spacing: 2px;
    font-size: 10px;
    line-height: 2em;
    padding: 10px;
    text-decoration: none;
}


.photo-link:hover {
    cursor: pointer;
}


.photo-set-edit {
    margin-right: 10px;
    width: 30px;
    display: flex;
    margin-top: 3px;
}
