

.splash-body {
  /* border: 5px solid black; */
  width: 100%;
  height: auto;
  min-height: 650px;
  background-image: url("http://res.cloudinary.com/de79besd8/image/upload/v1472852429/splash-image_k7zppd.jpg");
  background-size: cover;
  background-position: center 85%;
  height: 100vh;
}


.splash-header {
    display: flex;
    justify-content: space-between;
}

.splash-logo {
  margin-top: 40px;
  margin-left: 60px;
  font-size: 30px;
}

.header-group {
  margin-top: 40px;
  margin-right: 60px;
}

.login-signup {
  margin-right: 60px;
  margin-top: 40px;
}


.login-signup a {
    padding: 6px 18px;
    border: 1px solid #000;
    display: inline-block;
    min-width: 60px;
    text-align: center;
    color: #333;
    /* margin-left: 30px; */
    text-decoration: none;
    font-weight: 400;
    font-family: sans-serif;
    font-size: 13px;
}


.splash-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 700px;
    text-align: center;
    margin-top: 50px;
    font-family: sans-serif;
}

h2.splash-main-message {
    color: #111;
    font-size: 34px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 700;
}

h3.splash-sub-message {
    font-family: adobe-garamond-pro,Garamond,Georgia,serif;
    font-size: 1.2em;
}

button.splash-main-button {
    background: #1abc9c;
    padding: 10px 50px;
    margin: 15px 0 7px;
    color: #FFF;
    letter-spacing: 1px;
    font-weight: 400;
    border: 0;
    text-decoration: none;
    font-size: 14px;
}


i.fa.fa-power-off.fa-fw {
    width: 90px;
    letter-spacing: 0px;
    /* font-family: proxima-nova,Lato,"Lucida Sans Unicode","Lucida Grande",sans-serif; */
}


span {
    /* font-family: inherit; */
    font-family: proxima-nova,Lato,"Lucida Sans Unicode","Lucida Grande",sans-serif;
    margin-left: 3px;
}
